In [1]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;\
race/ethnicity — раса/этническая принадлежность;\
parental level of education — уровень образования родителей;\
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);\
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);\
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [2]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
student_data.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [4]:
student_data['math score'].mean()

66.089

In [5]:
student_data['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [6]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [8]:
student_data[student_data['math score'] == 0].shape

(1, 8)

In [9]:
print(student_data[student_data['lunch'] == 'standard']['math score'].mean())
print(student_data[student_data['lunch'] != 'standard']['math score'].mean())

70.03410852713178
58.92112676056338

In [10]:
student_data['parental level of education'].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [16]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()\
    - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()

-6.0